body {
    background-image: url(./assets/background2.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', Helvetica, sans-serif;
}

nav{
    background-color: #fff;
    margin: 0;
    padding: 20px;
}

.header-link {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    color: #f84f4f;
    background-color: #fff;
}

.header-link:hover {
    color: white;
    background-color: #f84f4f;
    text-decoration: none;
    font-weight: bold;
}

#loginpage, #logout, #register, #current_user {
    float: right;
}

#content {
    margin: 50px 130px;
    padding: 40px;
    border: 1px solid #e41818;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffffab;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem 0 rgba(255, 70, 70, 0.2);
    color: rgb(0, 0, 0);
}

section {
    border-bottom: solid 1px #ddd;
    padding-bottom:1em;
}

.row {
    display: block;
    margin-bottom: 1em;
    text-align: right;
    margin-right: 41%;
}

p{
    margin:5px;
}

input {
    padding: 8px 16px;
    border-radius: 5px;
    border: solid 1px #e41818;
}

select {
    padding: 8px 16px;
    border-radius: 5px;
    border: solid 1px #e41818;
}

.btn {
    background-color: #e41818;
    border-color: black;
    border-width: 2px;
    border-style: outset;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius:5px;
}

.wrapper{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
    width: 90%
  }
  
.table td, .table th {
    border: 1px solid rgba(255, 0, 0, 0.301);
    padding: 8px;
  }
  
.table tr:nth-child(even){background-color: #ffc1c133;}
  
.table tr:hover {background-color: #fc5a5a73;}
  
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #e41818;
    color: white;
  }
