include head.pug

<div id="content" class="content">
<section>
<h3>Ta opcja jest dostępna dla wylogowanych użytkowników!</h3>
<p>Ty jesteś zalogowany i możesz dodać książki bezpośrednio do bazy, skorzystaj więc z tej opcji.</p>
</section>
</div>
<script src="localStorage.js"></script>

include footer.pug