include head.pug

<div id="content" class="content">
	<section>
		<h3>Opis działania projektu:</h3>
		<p>
			| Projekt przedstawia stronę umożliwiającą użytkownikowi przechowywania listy swoich książek - przeczytanych i nieprzeczytanych, wraz z informacjami o tytułach i autorach.
			| Niezalogowany użytkownik ma dostęp do strony "offline", bez połączenia z serwerem - może w pamięci przeglądarki zapisać tymczasową listę książek, którą będzie mógł dodać do bazy na serwerze po zalogowaniu.
			| Zalogowany użytkownik może dodawać książki bezpośrednio do bazy, może również dodać do niej książki, które przed zalogowaniem zapisał w lokalnej bazie przeglądarki. Ma również dostęp do listy swoich książek oraz listy wszystkich książek wszystkich użytkowników, a także swoich statystyk.
		</p>
	</section>
</div>
include footer.pug