<!doctype html>
<html lang="pl">

<head>
    <title>Baza książek - Magdalena Górska</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Magdalena Górska" />
    <link rel="stylesheet" type="text/css" href="styles.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="ajax.js"></script>
</head>

<body>
<header>
    <h1>Moja półka z książkami</h1>
    <nav>
        <a class="header-link" href="./">Dokumentacja</a>
        <a class="header-link" href="./addbook">Dodaj książkę</a>
        <a class="header-link" href="./storebook">Zapisz książkę</a>
        <a class="header-link" href="./getallbooks">Lista wszystkich książek</a>
        <a class="header-link" href="./getmybooks">Lista moich książek</a>
        <a class="header-link" href="./showstats">Zobacz swoje statystyki</a>

        <a class="header-link" href="./login" id="loginpage">Zaloguj się</a>
        <a class="header-link" href="./register" id="register">Zarejestruj się</a>
        <a class="header-link" href="./logout" id="logout">Wyloguj się</a>
    </nav>
</header>