include head.pug

<div id="content" class="content">
<section>
<h3>Do tej funkcji będziesz miał dostęp dopiero po zalogowaniu!</h3>
</section>
</div>
<script src="localStorage.js"></script>

include footer.pug